:root {
    --main-color : #0a4d77;/*#34348d;*/
    --second-color : #1f1f20;
    --margin : 20px;
    --border-radius : 8px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    background-color: var(--second-color);
    font-size: 16px;
}

h1 {
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    background-image: url(images/background.jpg);
    color: white;
    margin: 0px;
}

h2 {
    font-size: 30px;
    margin: 0px 0px 40px 0px;
}

h3 {
    text-align: left;
    margin-top: 0px;
    text-decoration: underline var(--main-color);
    text-underline-offset: .30ch;
}

ul {
    padding-inline-start: 0px;
    list-style: none;
}

main {
    width: 950px;
    text-align: center;
    border: 1px solid var(--main-color );
    padding: var(--margin);
    border-radius: var(--border-radius);
    margin: var(--margin) auto;
    box-shadow: 2px 5px 5px var(--main-color);
}

#separator {
    width: 70px;
    height: 2px;
    margin: 30px auto;
    display: block;
    background-color: var(--main-color);
    box-shadow: 2px 5px 10px var(--main-color);
}

p {
    text-align: justify;
}

/*Nav bar*/
nav {
    width: 100%;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0px;
}

nav li {
    padding: var(--margin);
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

#front-bar-ul, #back-bar-ul, #title-bar-ul, #exam-bar-ul{
    background-color: var(--main-color);
    border-radius: var(--border-radius );
}


/* professionnal title page*/
#title-main-div {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}

.title-main-li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.see-more {
    background-color: var(--main-color);
    width: 120px;
    margin: auto;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: .5s;
}

.see-more:hover {
    width: 150px;
    box-shadow: 2px 5px 10px black;
}

/* front and back page*/
.main-section {
    display: flex;
    gap: var(--margin);
    margin: 50px 0px;
}

.main-section-img {
    width: 300px;
    height: 200px;
    border-radius: var(--border-radius);
    box-shadow: 2px 5px 10px black;
    transition: .5s;
}

.main-section-img:hover {
    transform: scale(1.05);
}

/*examen page*/
.examen-link {
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
}

/*FOOTER*/
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer img {
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
}